footer {
    // margin-top: 5em;
}
.social-media {
    ul {
        li {
            display: inline-block;
            width: 14.1%;
            text-align: center;
            padding: 1.5em;
            a {
                color: $white;
                &:hover {
                    color: $black;
                }
                i {
                    border-radius: 50%;
                    height: 40px;
                    width: 41px;
                    font-size: 25px;
                    background-color: white;
                    color: black;
                    line-height: 1.6;
                    margin-left: .5em;
                }
            }
        }
        li:nth-child(1) {
            background-color: #1e8831;
            i {
                color: #1e8831;
            }
        } 
        li:nth-child(2) {
            background-color: $twitter;
            i {
                color: $twitter;
            }
        } 
        li:nth-child(3) {
            background-color: $insta;
            i {
                color: $insta;
            }
        } 
        li:nth-child(4) {
            background-color: $fb;
            i {
                color: $fb;
            }
        } 
        li:nth-child(5) {
            background-color: $yt;
            i {
                color: $yt;
            }
        } 
        li:nth-child(6) {
            background-color: $gp;
            i {
                color: $gp;
            }
        } 
        li:nth-child(7) {
            background-color: $linkdin;
            i {
                color: $linkdin;
            }
        } 
    }
}
.end-elements {
    .container {
        border-bottom: 1px solid $lfooter;
    }
    background-color: $footer;
    .footer-cont-mnu {
        padding: 6em 0;
        .footer-title {
            h4 {
                font-family: 'cairo-bd';
                color: $gold;
                position: relative;
                padding-bottom: 1em;
                margin-bottom: 1em;
                &::before {
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 30px;
                    height: 1px;
                    background: $gold;
                    z-index: 2;
                }
            }
        }
        ul.footer-menu {
            li {
                width: 49%;
                display: inline-block;
                position: relative;
                padding: 1em;
                a {
                    font-family: 'cairo-lt';
                    color: $white;
                    font-size: 14px;
                    &:hover {
                        color: $gold;
                    }
                }
                &::before {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    content: "\f104";
                    right: 0;
                    position: absolute;
                    color: #0098db;
                    bottom: 19px;
                }
            }
        }
        .footer-form {
            p {
                color: $white;
                font-family: 'cairo-r';
                margin-top: 2.8em;
                font-size: 12px;
            }
            input {
                width: 100%;
                border-radius: 4px;
                padding: .75em 1em;
                margin-top: 1.75em;
                background-color: transparent;
                border: 1px solid $lfooter;
                color: $white;
                -webkit-transition: all .5s ease-in-out;
                -moz-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
                &::placeholder {
                    color: $lfooter !important;
                }
                &:hover, &:focus {
                    border: 1px solid $gold;
                }
            }
            button {
                color: $white;
                border-radius: 4px;
                background-color: $gfooter;
                margin-top: 2em;
                padding: .75em 1.5em;
                font-weight: bold;
                -webkit-transition: all .5s ease-in-out;
                -moz-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
                &:hover {
                    background-color: $gold;
                    color: $footer;
                }
            }
        }
    }
}
.copyright-part {
    background-color: $footer;
    .container {
        padding: 0;
        .col-sm-6 {
            padding: 0;
            p {
                padding: 1.25em 0;
                color: $white;
            }
            p.sec-paragraph {
                float: left;
                a {
                    color: $dgold;
                    &:hover {
                        color: $gold;
                    }
                }
            }
        }
    }
}
.face-page-insert {
    padding-top: 6em;
}
@media (max-width:1200px) {
    .social-media {
        ul {
            li {
                width: 14%;
                a {
                    color: $white;
                    span {
                        display: block;
                    }
                }
            }
        }
    }
}
@media (max-width:768px) {
    .end-elements { 
        .footer-cont-mnu {
            padding: 2.5em 0 ;
        }
    }
    .social-media ul li {
        width: 100%; 
        margin-top: .2em;
    }
}