#nots-forth {
    margin: 8em 0;
    .our-notofications {
        background-color: white;
        padding: 1.5em 1em;
        line-height: 2;
        margin-bottom: 1em;
        border-radius: 3px;
        .exam-questions {
           a {
               font-size: 18px;
               color: $black;
           }
           p {
               font-size: 14px;
               margin-top: 1em;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
           }
        }
        .left-side-date {
            line-height: 5.25;
        }
        &:hover {
            background-color: #00e2fc14;
            a {
                color: $gfooter;
            }
        }
    }
}